# -------------------------
# Node.js Dependencies
# -------------------------
/node_modules

# Logs
npm-debug.log*

# -------------------------
# Environment & Build Files
# -------------------------
.env
.env.local

# Build artifacts
/dist
/build

# -------------------------
# OS and IDE Files
# -------------------------
.DS_Store
.vscode/
.idea/